<header class="navbar navbar-fixed-top">
	<div class="container">
		<%= link_to "Pickle_Logo", root_url %>
	  <nav>
	  	<ul class="nav navbar-nav navbar-right">
	  		<li><%= link_to 'ピックルボール とは', about_path %></li>
	  	</ul>
	  </nav>
	</div>
</header><!-- /header -->